body {
	font-size: 2em;
}
.container {
	display: inline-block;
}
#display, .button{
	border-width: 2px;
	border-color: #000;
	border-style: solid;
	background-color: #fff;
	display: inline-block;
	margin: 3px;
	text-align: center;
}
.button:hover{
	color: #fff;
	background-color: #000;
}
.button {
	background-color: skyblue;
	width: 73px;
}
#display {
	background-color: khaki ;
	width: 305px;
	height: 20px;
	padding: 20px;
	text-align: right;
	border-radius: 0;
}